body{
    margin: 0;
    text-align: center;
    background-color: green;
    color: white;
    font-family: 'Fredoka One', cursive;
}

.img-container{
    margin-top: 20px;
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
}

.privacy{
    font-family: Arial, Helvetica, sans-serif;
}