body{
    text-align: center;
    /* font-family: 'Fredoka One', cursive; */
    font-family: Arial, Helvetica, sans-serif;

}

.img-container{
    margin-top: 50px;
}

.logo{
    margin: 35px;
}

.title{
    background: #f1f5f8;

}

.titleH1{
    padding-top: 45px;
}

.services{
    background: #fff;
    padding: 50px 0;
    margin-top: 50px;
    text-align: center;
}


.titleHeading{
  font-size: x-large;
  transform: rotate(0deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #fdcb6e;
  font-size: 1.5rem;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f5f8;
    
}

.privacy{
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    justify-content:center;
    color: black;
    margin-top: 50px;
}
